section.about-header {
  background: url("/public/images/about-me-bg.jpg") center center;
  background-size: cover;
  padding: 3rem;
  color: white;

  h1 {
    margin: 15rem 0 10rem;
    font-weight: bold;
  }
}

section.about-content{
  p.top-text{
    margin: 0 0 8rem;
    font-size: larger;
  }

  p.small-text{
    font-size: medium;
    margin-bottom: 3rem;
  }

  a{
    color: black !important;
    border-bottom: dashed 1px black;
    font-weight: 100 !important;
    text-decoration: none;

    &:hover{
      border-color: $primary-color;
      color: $primary-color !important;
    }
  }
}