section.about-content{
  h1{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 0;
  }

  p.top-text{
    margin: 0 0 4rem;
    font-size: larger;
  }

  p.small-text{
    font-size: medium;
    margin-bottom: 3rem;
  }

  a{
    color: black !important;
    border-bottom: dashed 1px black;
    font-weight: 100 !important;
    text-decoration: none;

    &:hover{
      border-color: $primary-color;
      color: $primary-color !important;
    }
  }
}