section.blog-overview {
  h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 0;
  }

  p.top-text {
    margin: 0 0 4rem;
    font-size: larger;
  }

  .posts {
    padding: 2rem 0;
  }
}
