.box{
  padding: 3rem 0;

  .row{
    margin: 1rem 0;
    font-family: $article-font-family;
  }

  ul{
    list-style: square;
    padding-left: 1rem;

    li{
      padding: 0.15rem 0;
    }

    date{
      display: inline;
      font-size: $small-font-size;
    }
  }

}