.button{
  text-align: center;
  display: inline-block;
  box-shadow: none;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: $gray-5;
  border-radius: 2px;
  font-size: $small-font-size;
  color: white;

  i{
    margin-right: 5px;
  }
}