footer {
  color: white;
  font-size: $small-font-size;
  padding: 1rem;
  text-align: center;

  .row {
    display: flex;
    justify-content: center;
  }

  a {
    color: white;
    font-weight: normal;

    &:hover,
    &:focus,
    &:visited,
    &:active {
      color: white;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem;

    li {
      display: inline;
      margin-left: 1rem;
    }

    li:after {
      color: $gray-3;
      margin-left: 1rem;
      content: ' //';
    }
    li:last-child:after {
      content: '';
    }

    li.social-links a {
      padding: 0.2rem;
      margin-right: 0.5rem;
      display: inline-block;
    }

    li.disclaimer {
      color: $gray-3;
      font-family: $article-font-family;
      font-style: italic;
    }
  }
}
