section.intro {
  padding: 0;

  .container {
    background: url('/public/images/me.png') no-repeat right bottom;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
      font-size: 50px;
      font-weight: bold;
      padding-bottom: 1rem;
    }
    p:not(:last-child) {
      line-height: 2.2;
    }

    p {
      max-width: 540px;
      font-size: 18px;

      b {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  section.intro {
    .container {
      background: none !important;
    }
  }
}