.intro {
  .box {
    margin-right: -180px;
    background: url('/public/images/me.png') no-repeat right bottom;
    padding: 1.5rem 0 0.5rem;

    @media screen and (max-width: 760px) {
      background: none !important;
    }
  }

  .row:not(:last-child) {
    line-height: 40px;
  }

  .row {
    max-width: 540px;

    b {
      color: black;
    }
  }
}