body {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;

  &:hover, &:focus {
    text-decoration: underline;
    color: $link-color;
  }

  &:visited, &:active {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

.container {
  max-width: 840px !important;

  .emoji {
    display: inline;
    height: 16px;
    margin-bottom: 3px;

  }
}

section {
  padding: 2rem 0 5rem;

  &.gray {
    background-color: $gray-1;
  }

  &.green {
    background-color: #EAF4F4;
  }
}

p {
  font-family: $article-font-family;
}

.row {
  margin: 0 !important;
}

ul {
  list-style: square outside;

  &.inside {
    padding-left: 5px;
    list-style: square inside;
  }
}

span {
  &.green {
    color: $primary-color;
  }
  &.bold {
    font-weight: bold;
  }
  &.no-wrap {
    white-space: nowrap;
  }
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


