// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: $answerToEveryThing;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.gray-row {
  background-color: $gray-1;
}

footer {
  margin-bottom: 2rem;
}
