@mixin inter-section($topColor, $bottomColor, $transform: 1) {
  content: '';
  background: $topColor;
  $buttonColorWihtOutHash: str-slice($bottomColor + '', 2, 7);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23"+$buttonColorWihtOutHash+"%3B' /%3E%3C/svg%3E");
  height: 4rem;
  margin-bottom: -1px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  transform: scaleX($transform);
}

html,
body {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-color;
  }

  &:visited,
  &:active {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

.container {
  max-width: 840px !important;

  .emoji {
    display: inline;
    height: 16px;
    margin-bottom: 3px;
  }
}

section {
  padding: 2rem 0 5rem;
  background: #eeeeee;
}

.row {
  margin: 0 !important;
}

ul {
  list-style: square outside;

  &.inside {
    padding-left: 5px;
    list-style: square inside;
  }
}

span {
  &.bold {
    font-weight: bold;
  }
  &.no-wrap {
    white-space: nowrap;
  }
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}
