section.talks {
  h1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 0;
  }

  p.top-text {
    margin: 0 0 4rem;
    font-size: larger;
  }

  .talk-list {
    .talk {
      padding: 3rem 0;
      border-bottom: 1px dashed grey;

      .talk-coveriframe {
        width: 100% !important;
        height: auto;
      }

      .talk-description {
        h2 {
          font-size: 20px;
          text-transform: none;
        }

        .talk-buttons .button {
          margin-right: .5rem;
          margin-bottom: 0;
          padding: .5rem .7rem;
        }
      }
    }
  }
}
