$small-font-size: 14px;
$normal-font-size: 16px;
$large-font-size: 22px;

$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;

$primary-color: #48a770;
$primary-color-alpha: rgba(0, 140, 59, 0.6);
$secondary-color: #EAF4F4;

$root-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$root-font-size: $normal-font-size;
$root-line-height: 2;

$body-color: #515151;
$body-bg: #fff;
$link-color: $primary-color;

$article-font-family: 'Noto Serif', serif;
$article-line-height: 38px;

$handwritten-font-family: 'Pacifico', cursive;

$border-color: #e5e5e5;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;


