---
layout: default
---
<div class="container ">
    <article class="post">

        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
            <i class="fa fa-calendar-o"></i><span>{{ page.date | date_to_string }}</span>
        </time>

        <h1 class="post-title">{{ page.title }}</h1>

        <div class="github-button">
            <a class="button" href="{{ site.github.pages_url }}{{ page.path | url_encode}}">
                <i class="fa fa-github"></i><span>improve this post on github</span>
            </a>
        </div>

        <div class="post-content">
            {{ content }}
        </div>
    </article>
</div>

{% if site.related_posts != empty %}
<div class="green-row">
    <div class="container box">
        <h2>Related posts</h2>
        <ul class="row">
            {% for post in site.related_posts limit:3 %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <small>
                    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
                        <span>{{ post.date | date_to_string }}</span>
                    </time>
                </small>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}